@tailwind base;
@tailwind components;
@tailwind utilities;


body, .bv {
  background: linear-gradient(146deg, rgb(255, 255, 255) 0%, rgb(232, 232, 232) 100%);
}
*{  
  margin: 0;
}

.leaflet-container {
  width: 100%; 
  height: 100%;
}

.leaflet-control-attribution{
  display: none !important;
}
.leaflet-bottom, leaflet-left{
  margin-left: 10px;
}

.leaflet-top, leaflet-left{
  margin-left: 10px;
}