@tailwind base;
@tailwind components;
@tailwind utilities;


body, .bv {
  background: rgb(40,40,40);
  background: linear-gradient(146deg, rgba(40,40,40,1) 0%, rgba(73,15,134,1) 100%);
}
*{
  margin: 0;
}

.leaflet-container {
  width: 100%; 
  height: 100%;
}

.leaflet-control-attribution{
  display: none !important;
}
.leaflet-bottom, leaflet-left{
  margin-left: 10px;
}

.leaflet-top, leaflet-left{
  margin-left: 10px;
}