.bus-card{
    height: 10rem;
    margin-bottom: 5px;
    border: solid 1px #00000036;
    border-radius: 9px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.bus-detail{
    display: flex;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top h6{
    height: 19px;
    font-size: 13px;
    color: white;
    background-color: #ff1010;
    padding: 2px 11px;
}